<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drop.spper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
       autolayout meta
       将设计图的宽高配置后,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- glide配置 -->
        <meta-data
            android:name="com.jess.arms.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />

        <!-- arms配置 -->
        <meta-data
            android:name="com.drop.spper.app.GlobalConfiguration"
            android:value="ConfigModule" />




        <activity android:name=".mvp.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.PersonCenterActivity"
            android:label="个人中心"/>
        <activity android:name=".mvp.ui.activity.WalletActivity"
            android:label="钱包"/>
        <activity android:name=".mvp.ui.activity.MyFocusActivity"
            android:label="我的关注"/>
        <activity android:name=".mvp.ui.activity.AccountActivity"
            android:label="账单明细"/>
        <activity android:name=".mvp.ui.activity.SetVoiceActivity"
            android:label="声音设置"/>
        <activity android:name=".mvp.ui.activity.FeedBackActivity"
            android:label="意见反馈"/>
    </application>

</manifest>